@using System.Threading.Tasks
@using DI.ViewInjection.Models.Services
@using DI.ViewInjection.Models
@inject StatasticsService _statsService
@model IEnumerable<ToDoItem>
@{
    ViewData["Title"] = "Dependency Injection - View Injection : Model service usage";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h2>To Do Items</h2>
    <ul>
        <li>TotalItems : @_statsService.GetCount()</li>
        <li>Completed  : @_statsService.GetCompletedCount()</li>
        <li>Avg. Priority : @_statsService.GetAveragePriority()</li>
    </ul>
    <table>
        <tr>
            <th>Name</th>
            <th>Priority</th>
            <th>Is Done?</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Priority</td>
                <td>@item.IsDone</td>
            </tr>
        }
    </table>
</div>

