@model IEnumerable<SampleAcademy.Models.Student.CourseGrade>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Student Home";
    Layout = "_ContentLayout";
}
<fieldset>
    <h2>Welcome @User.Identity.Name !</h2>
    <br />
    <p><strong><a class="contentlink" href="@Url.Action("AddGrade")">Add Grade</a></strong></p>
    @foreach (var grade in Model)
    {
        <h3>@grade.CourseName</h3>
        <p>
            Professor: <strong>@grade.ProfessorName</strong>
            Grade: @grade.Grade %
        </p>
    }

</fieldset>


